{% include base_path %}

{% assign title = post.title %}

<!-- Post Title -->
<h2>
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
</h2>

<!-- Published Date -->

{% if post.collection == 'publications' %}
    <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
{% elsif post.date %}
   <p> Published: <time datetime="{{ post.date | default: "2000-01-01" | date_to_xmlschema }}">{{ post.date | default: "2000-01-01" | date: "%B %d, %Y" }}</time></p>
{% endif %}

<!-- Description of post -->
  <p class="archive__item-excerpt" itemprop="description">
    <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a>
    </p>
  </p>

  {% if post.citation and post.paperurl %}
    <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
  {% elsif post.citation %}
    <p>Recommended citation: {{ post.citation }} </p>
  {% elsif post.paperurl %}
    <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
{% endif %}
<hr>


