{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>

    <div class="entry-content">
        <img src="/images/photo/kura-okubo1.png" alt="portrait"/>
        <!-- {{ .Content | markdownify }} -->
        <header class="entry-header">
            <h2>About me</h2>
        </header>
        <!-- {{ .Content_aboutme | markdownify }}  -->
        I am a postdoctoral researcher at 
        <a href="https://www.bosai.go.jp/e/index.html" target="_blank">the National Research Institute for Earth Science and Disaster Resilience (NIED)</a>.
        <header class="entry-header">
            <h2>Research Interest</h2>
        </header>
        {{ .Content_researchsummary | markdownify }}
        <!-- My research interests include earthquake source mechanisms, energy budget of earthquakes and the evolution of crustal properties around faults. Seismological observations bring a lot of information on the earthquake source and the structure of the Earth by comparing them to theoretical models, derived from solid mechanics. However, sometimes there are still discrepancies between the observations and theoretical models, implying additional factors which conflict with the assumptions made in the models. My goal is to identify and quantify the factors using the state-of-the-art techniques (e.g. continuous monitoring of ambient seismic noise, physics-based dynamic earthquake rupture modeling), which enable us to better understand the source mechanisms, the overall energy budget and the consequent ground motion. -->
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
