---
layout: default
---

 {% include base_path %}
<div id="main" role="main">

    <!-- Post Title -->

    <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url }}" rel="permalink">{{ page.title }}</a>
    </h2>

    <!-- Published Date -->

       <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Published: </strong> <time datetime="{{ page.date | default: "2000-01-01" | date_to_xmlschema }}">{{ page.date | default: "2000-01-01" | date: "%B %d, %Y" }}</time></p>

       <br>

  <div class="archive">
    {{ content }}
  </div>
</div>